# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Tailwind build output (if using)
dist/
build/

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor folders
.vscode/

# Logs
*.log
logs/
